/* ----------------------------- Global Settings ------------------------------*/

body{margin: 0px;}
html{font-size:200%; font-family: monospace;}

/* ----------------------------- Grids & Display ------------------------------*/

/*Header*/
#intro{padding-top:5%;padding-bottom:5%;}

/* Display Type */
.container{display: flex;}
.dgrid {display: grid;}
.dinline{display: inline;}

/* Flex Direction */
.row {flex-direction: row;}
.column {flex-direction: column;}

/* Justify Contents */
.jccenter {justify-content: center;}
.jcsb {justify-content: space-between;}
.jcsa {justify-content: space-around;}
.jcend{justify-content: flex-end;}

.aicenter {align-items: center;}

.flexwrap{flex-wrap: wrap;}

/* Height & Widths */
.height100{height: 100%;}
.width30{width:30%;}
.width20{width:20%;}
.width100{width:100%;}

/* Paddin & Margin */ 
.nopadding{padding: 0%;}
.nomargin{margin:0%;}

.lrpadding{padding-left: 40px; padding-right: 40px;}
.lrmargin{margin-left: 15px; margin-right: 15px;}

/* ---------------------------------- NavBar ---------------------------------- */
/* UNUSED */
li {display:inline;}
.navbar{list-style: none; display:inline;}  

/* ------------------------------- Image Sizes ----------------------------- */
.image33{width:33.33%}

/* ---------------------------------- Colors ---------------------------------- */

/* Background Colors */
.bcred {background-color: #CE0033;}
.bcblue {background-color: #1B3549;}
.bcwhite {background-color: white;}
.bcgrey{background-color:grey;}
.bcblack{background-color: black;}
.bcyellow{background-color:yellow;}
.bccyan{background-color: #4FB0AB;}
.bcgreen{background-color: #A1C547;}
.bcbluebis{background-color: #4A5664;}

/*Background Images */
.bcnorepeat{background-repeat: no-repeat;}
.gradientmenu{background-image: url("../IMG/gradient.svg"); border-radius: 24%;}
.bchtml{background-image: url("../IMG/html.svg"); background-repeat: no-repeat;}
.bccircuit{background-image: url("../IMG/circuit.svg");}

.bclaugh1{background-image: url("../IMG/laugh1.jpeg"); background-size: 100%; border-radius: 99px;}
.bclaugh2{background-image: url("../IMG/laugh2.jpeg"); background-size: 100%; border-radius: 99px;}
.bclaugh3{background-image: url("../IMG/laugh3.jpg"); background-size: 100%; border-radius: 99px;}
.bclaugh4{background-image: url("../IMG/laugh4.jpeg"); background-size: 100%; border-radius: 99px;}
.bclaugh5{background-image: url("../IMG/laugh5.jpg"); background-size: 100%; border-radius: 99px;}

/* Text Colors */
.textwhite {color: white;}
.textblack {color: black;}
.textbisque{color: bisque;}
.textcyan{color:#4FB0AB;}
.textgreen{color:#A1C547;}
.textpink{color:#D26466;}

/* Text List Color */
/* UNUSED */
a{color:white; text-decoration: none;}

/* Text Size */
.textmedium {font-size: 1em;}
.textlarge {font-size: 1.8em}

/* Text Position */
.textcenter{text-align: center;}

.bradius{border-radius: 20px;}

/* --------------------------- Animated progress bars ----------------------------- */

/* Whole COMPETENCES section proprieties */
#competences {position: relative; height: 30%;}


/* PROGRESS BAR SIZE */
.meter {height: 16px; width: 200px; padding: 5px;}

/* Progress Bar 1 */
.one {animation: progress-1 3s infinite;}
@keyframes progress-1 {0% {width: 0;} 100% {width: 15%;}}

/* Progress Bar 2 */
.two {animation: progress-2 3s infinite;}
@keyframes progress-2 {0% {width: 0;} 100% {width: 50%;}}

/* Progress Bar 3 */
.three {animation: progress-3 3s infinite;}
@keyframes progress-3 {0% {width: 0;} 100% {width: 75%;}}

/* Progress Bar 4 */
.four {animation: progress-4 3s infinite;}
@keyframes progress-4 {0% {width: 0;} 100% {width: 40%;}}

/* Progress Bar 5 */
.five {animation: progress-5 3s infinite;}
@keyframes progress-5 {0% {width: 0;} 100% {width: 90%;}}